<form  class="contact1-form " action="">
  <button class="buttonGrey" name="filter">Filter</button> 
  <button class="buttonGrey" name="raz">RAZ</button> 
  <br>
  Jeu : <input class="w3-input" type="text" id="selectNom" placeholder="Half-life..."> 
  Éditeur : <input class="w3-input" type="text" id="selectEditeur" placeholder="Sierra...">
  Type : <br> <select class="w3-select" name=""  id="selectType"  [value]="jeuSelector">
      <option *ngFor="let jeu of typesJeu" [value]="jeu"> {{jeu}} </option>
    </select> 
  
</form>

