/* You can add global styles to this file, and also import other style files */
html {
    background-color: #3a3a3a;
}
body {
  font-size: 2rem ; 
    color: white;
    padding: 5rem ;
}

form , input , select, button  {
  font-size: 2rem; 
}
input , select { width: 30rem ;}
form {
  width: 50%
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    width: 30rem;
  }
  img {
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }
  
  .container {
    padding: 2px 16px;
  }

  .buttonGrey {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0rem 0.5rem 0.5rem 0rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
  }

.w3-input{
    padding: 0.5rem;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
}
.w3-select{
    padding: 0.5rem;
    border:none;
    border-bottom:1px solid #ccc;
}



