/* You can add global styles to this file, and also import other style files */
html {
    background-color: #3a3a3a;
}
body {
  font-size: 2rem ; 
    color: white;
    padding: 5rem ;
}

/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */

form , input , select, button  {
  font-size: 2rem; 
}
input , select { width: 30rem ;}
form {
  width: 50%
}


.buttonGrey {
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0rem 0.5rem 0.5rem 0rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #a7a7a7;
  color: whitesmoke;
}

.w3-input{
  padding: 0.5rem;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
}
.w3-select{
  padding: 0.5rem;
  border:none;
  border-bottom:1px solid #ccc;
  color: #767676
}



/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    width: 30rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }
  .card p,h2 {
    padding: 0 1rem 0 1rem;
  }
  img {
    width: 100%;
  }
  

  
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */





