<app-game-list-filter (filter)="onFilter($event)"></app-game-list-filter>

<br>
<hr>
<br>

<div>
  <button class="sizeButton" (click)="sizeDown()"> - </button>
  <button class="sizeButton" (click)="sizeUp()" > + </button>
  <button class="sizeButton" (click)="sizeDefault()" > 100% </button>
</div>

<ng-template #loading>Chargement ...</ng-template>  

<ul class="cards" *ngIf="listeJeux ; else loading">
  <li class="cards_item" *ngFor="let jeu of listeJeuxFiltree" [ngStyle]="{width: width + 'rem'}">
    <div class="card">
      
      <h2>{{jeu.nom}}</h2> 
      <p>Type : {{jeu.type}}</p>
      <img [src]="jeu.image" alt="image" (click)="seeDetails(jeu.id)" style="cursor: pointer;">
      <p>Note : {{jeu.note ? jeu.note+'/10' : 'MISSING'}}</p>
      <p>{{trimDescription( jeu.description , 120)  }} </p>
      <app-action-button 
      [nomJeu]="jeu.nom" 
      (clickEvent)="onClickEvent($event, jeu.nom)"
      ></app-action-button>
    </div>
  </li>
</ul> 