<app-game-list-filter></app-game-list-filter>

<br>
<hr>
<br>

<ul class="cards">
  <li class="cards_item" *ngFor="let jeu of listeJeux" >
    <div class="card">
      
      <h2>{{jeu.nom}}</h2> 
      <p>Type : {{jeu.type}}</p>
      <img [src]="jeu.image" alt="image" >
      <p>Note : {{jeu.note}}/10</p>
      <p>{{trimDescription( jeu.description , 120)  }} </p>
      <button (click)="onFollow($event, jeu)">Follow</button>
      <button (click)="onShare($event, jeu)">Share</button>
      <button (click)="onBuy($event, jeu)">Buy</button>
    </div>
  </li>
</ul> 